[Ll]ibrary*/
[Tt]emp*/

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.csproj
*.unityproj
*.sln
*.suo
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
Assets/Resources/__ALAssetBundle/
Assets/Resources/__ALAssetBundleCompress/
Assets/Resources/__dlserverref/
ALGlobalSetting.*
GenerateUIWindowScript*/
.idea*/
[Jj]et[Bb]rains*/
JetBrains.*
/Library
/ProjectSettings
/obj
/temp
/mj.userproperties
.vscode*/
Assets/LeoRes/
Assets/LocalRes/
Assets/LocalRes.meta
